{{define "overview"}}
{{template "header"}}
<a href="create" class="list"><h2>Setup new experiment</h2></a>
<div id="running" class="list"><h2>Running Experiments</h2>
<div class="experiment"></div>
<div class="experiment"></div>
<div class="experiment"></div>
</div>
<div id="archived" class="list"><h2>Archived Experiments</h2>
  <div class="experiment"></div>
  <div class="experiment"></div>
  <div class="experiment"></div>
  <div class="experiment"></div>
</div>
<script type="text/javascript" src="./static/js/main.js"></script>
{{template "footer"}}
{{end}}

